.container {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 35%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px;
    flex-direction: column;
    align-items: stretch;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 400px;
    background: none;
    border: none;
    font-size: 30px;

    color: #0a3871;
}

textarea::placeholder {
    color: #0a3871da;
}

.buttons-word {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.btnSaveWord {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
    justify-content: center;
    color: white;
    font-size: 20px;
    align-items: center;
    border: none;
}

.btnCancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
    justify-content: center;
    font-size: 20px;
    background: none;
}