body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F3F5FC;
}

nav img {
    position: absolute;
    left: 60px;
    top: 50px;
}

/*   SECTIONS TO SHOW   */
.start-section{
    display: none;
}

.game-section{
    display:none;
}

.addword-section{
    display: none;
}


.btn-container {
    
    display: flex;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -100px;
    margin-left: -100px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}
.btn-container a{
    text-decoration: none;
}

.start-game {
    cursor: pointer;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 317px;
    height: 60px;
    background: #0A3871;
    border-radius: 24px;
    justify-content: center;
    font-size: 20px;
    color: white;
    border: none;
}

.add-word {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 250px;
    font-size: 16px;
    color: #0A3871;
    justify-content: center;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: none;
}

.game-container{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 25%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea{
position: absolute;
width: 80px;
height: 4px;
background: #0A3871;
border-radius: 8px;

}

.correct-words {
    display: flex;
    flex-direction: row;
    gap: 55px;
    margin: 25px;
    justify-content: center;
}

.wrong-words{
    font-size: 30px;
    color: #0A3871;
}

.wrong-words span{
    padding-right: 10px;
}




.correct-words h2{
    font-size: 50px;
    color: #0A3871;
}

.cw {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-end;
    align-content: center;
}

.buttons-game {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.game-btnStart {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
    justify-content: center;
    color: white;
    font-size: 20px;
    align-items: center;
    border: none;
}

.game-btnCancel {
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
    justify-content: center;
    font-size: 20px;
    background: none;
}



/*ADD WORD SECTION*/

.addword-container {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 35%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px;
    flex-direction: column;
    align-items: stretch;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 400px;
    background: none;
    border: none;
    font-size: 30px;

    color: #0a3871;
}

textarea::placeholder {
    color: #0a3871da;
}

.buttons-word {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.addword-btnSaveWord {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
    justify-content: center;
    color: white;
    font-size: 20px;
    align-items: center;
    border: none;
}

.addword-btnCancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
    justify-content: center;
    font-size: 20px;
    background: none;
}